@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

:root{
    --bg-header: #0a222c;
    --bg-main: #071820;
    --bg-footer: #0a222c;
    --bg-dialog: #0d3240;
    --border-img: #0c445b;
}

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container{
    max-width: 1440px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
}

h1{
    color: white;
    font-size: 60px;
    font-weight: 900;
    margin: 0;
    text-align: center;
}

/* Dialog */
.dialog{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 50px;
}

.d_none{
    display: none;
}

.body_overflow{
    overflow: hidden;
}

.dialog-content{
    height: 750px;
    width: 550px;
    background-color: var(--bg-dialog);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px 30px;
}

.dialog-content > img{
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.dialog-content a{
    display: flex;
    align-items: center;
    justify-content: center;
}


.dialog-content a img{
    width: 20px;
}

.dialog-content-arrow_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    color: white;
    font-size: 20px;
}

.dialog-content-arrow_btn p{
    width: 80px;
    text-align: center;
}

.dialog-content-arrow_btn a{
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 50%;
}

.dialog-content-arrow_btn a:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.dialog-content-title{
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.dialog-content-title a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dialog-content-title a:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

/* Header */
header{
    min-height: 144px;
    background-color: var(--bg-header);
}

header div{
    height: 100%;
    display: flex;
    align-items: center;
}

header img{
    width: 350px;
}

/* Main */
main{
    flex: 1;
    background-color: var(--bg-main);
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

/* Gallery */
.gallery{
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.gallery img{
    width: 200px;
    height: 200px;
    border-radius: 12px;
    object-fit: cover;
    border: 3px solid var(--border-img);
    transition: all 175ms ease;
}

.gallery img:hover{
    transform: scale(1.05);
}

/* Footer */
footer{
    min-height: 144px;
    background-color: var(--bg-footer);
}

footer div{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img{
    width: 50px;
    filter: brightness(0) invert(1);
}

footer a{
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
    text-decoration: none;
}

@media (max-width: 980px){
    h1{
        font-size: 40px;
    }

    main {
        gap: 70px;
    }
}

@media (max-width: 670px) {
    .dialog-content {
        height: 700px;
    }
    
}

@media (max-width: 550px) {
    h1 {
        font-size: 24px;
    }

    main {
        gap: 50px;
    }

    .dialog-content-title {
        font-size: 16px;
    }

    .dialog-content-arrow_btn {
        gap: 20px;
    }

    .dialog-content {
        height: 490px;
    }
}